
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
    <%- include ("common/Header"); -%>

      
      
           
                 
            <table style= "width: 90%">
           <tr>
                <th>productid</th><th>name</th><th>description</th><th>brand</th><th>colour</th><th>price</th><th>quantity</th>
            </tr>
              <% list.forEach(function(list){ %>  
            <tr>    
          
            <td><%=  list.productid  %></td><td><%=  list.name  %></td><td><%=  list.description  %></td><td><%=  list.brand  %></td><td><%=  list.colour  %></td><td><%=  list.price  %></td><td><%=  list.quantity  %></td>
            <td>  <a href="/listProducts/get/<%= list.id %>"> modify </a> </button>   </td> 
            <td>  <a href="/listProducts/delete/<%= list.id %>"> delete </a> </button>   </td> 

        <% }); %> </table> 



    <hr>
    <p3> <a href="createProduct">create product</a></p3>
    

  
  
 </body>
 </html>
<style>
   p3{text-align: right;}
   table tr td {align-self: center;
    border-collapse: collapse; border: 1px; border-style: solid; color: black;}
    
</style>


